body {
    font-family: "Poppins", sans-serif !important;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* Ocultar barras de desplazamiento en todo el proyecto */
    scrollbar-width: none;
}

.nav-pills .nav-link.active {
    background-color: var(--bs-danger) !important;
    color: white !important;
  }
  

.cursor-pointer {
    cursor: pointer;
}

.logo-image {
    width: 175px;
    padding-bottom: 10px;
}

.bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #cb4a4a;
}

.dropdown-hover {
    position: relative;
}

.dropdown-hover .dropdown-menu {
    display: block;
    min-width: 325px;
    margin-top: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    position: absolute;
}

.dropdown-hover:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}